@import './mixins/font.scss';

header{
  background: #FFFFFF;
  height: 5.25rem;
}

.logo-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 0.75rem;
  position: relative;
  top: 1.5rem;
  left: 10.125rem;
  width: 9.375rem;
  cursor: pointer;
}

.logo{
  display: block;
}

.site-name{
  @include fontTemplate('Poppins', normal, 600, 1.5rem, 2.25rem);
  letter-spacing: -0.02em;
  color: #232134;
}

.interface{
  display: flex;
  gap: 3.75rem;
  position: relative;
  left: 36.4375rem;
  top: -0.3rem;
  width: 17.1875rem;
}

.vacancy-search{
  @include fontTemplate('Inter', normal, 500, 1rem, 1.25rem);
  color: #5E96FC;
  cursor: pointer;
}

.favourites{
  @include fontTemplate('Inter', normal, 400, 1rem, 1.25rem);
  color: #232134;
  cursor: pointer;
}

@media (max-width: 780px){
  .interface{
    top: -1.3rem;
  }
}

@media (max-width: 620px){
  .interface{
    top: -1.75rem;
  }
}

@media (max-width: 464px){
  .logo{
    width: 3rem;
    height: 3rem;
  }
}