@import './mixins/font.scss';

.vacancy-description-block{
  display: none;
}

// .filters-aside-menu{
//   display: none;
// }

.requirements{
  position: relative;
  width: 48.3125rem;
  // height: 9.8125rem;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 12px;
  top: 1.25rem;
  left: 10.7rem;
  margin-bottom: 51px;
}

.requirements-innerblock{
  width: 45.3125rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;

  ul{
    margin-left: 1.6rem;
  }

  li{
    @include fontTemplate('Inter', normal, 400, 1rem, 140%);
    
  }

  b{
    @include fontTemplate('Inter', normal, 700, 1.25rem, 1.25rem);
  }

  p{
    @include fontTemplate('Inter', normal, 400, 1rem, 140%);
  }
}

.result-wrapper-descr{
  position: relative;
  left: 10.7rem;
}

.result-block-descr{
  width: 48.3125rem;
  height: 9.8125rem;
  background: #FFFFFF;
  border: 1px solid #EAEBED;
  border-radius: 0.75rem;
}

.job-name-descr{
  @include fontTemplate('Inter', normal, 700, 1.75rem, 2.125rem);
}

.salary-offer-descr{
  @include fontTemplate('Inter', normal, 700, 1.25rem, 1.25rem);
}

.working-day-descr{
  @include fontTemplate('Inter', normal, 400, 1.25rem, 1.25rem);
}